@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
    font-family: 'PT Sans', sans-serif , cursive;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

ul {
    list-style: none;
    -webkit-padding-start: 0px;
}

.heading {
    font-size: 14px;
    text-transform: uppercase;
    color: $grey-primary;
    margin-bottom: 20px;
}

.bg-black {
    background-color: $black;
}

.bg-grey {
    background-color: $grey-tertiary;
}

.color-white {
    color: $white;
}
.font-weight-bold {
    font-weight: bold;
}

.url {
    font-size: 20px;
    text-decoration: underline;
    &.dark {
        color: $grey-quaternary;
    }
    &.light {
        color: $white; 
    }
}

.display-block {
    display: block;
}

